@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import 'swiper/swiper-bundle.min.css'; */
/* // Import Swiper styles */
@import "swiper/css";
@import "swiper/css/pagination";

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.hero-slider {
@apply relative z-[11] bg-hero-bg
}


body {
  margin: 0;
  font-family: "Kanit", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
